.nav-container {
  display: flex;
  width: 100%;
  justify-content: center;
  height: 50px;
  background-color: #280130;
  position: fixed;
  z-index: 10;
}
@media only screen and (max-width:750px) {
  .nav-container {
    height: 150px;
    position: initial;
    align-items: center;
  }
}
.nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 50px;
}
@media only screen and (max-width:750px) {
  .nav {
    flex-direction: column;
    height: 100%;
    justify-content: center;
  }
}
.nav a {
  text-decoration: none;
  color: aliceblue;
  font-size: 1.4rem;
}
@media only screen and (max-width:750px) {
  .nav a {
    padding: 5px;
    font-size: 1.8rem;
  }
}
.nav a:hover {
  color: #86a2d3;
}
.cta-welcome {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 70%;
  align-items: center;
  padding-bottom: 30px;
  margin-top: 10px;
}
.cta-welcome a {
  text-decoration: none;
}
@media only screen and (max-width:750px) {
  .cta-welcome {
    width: 100%;
  }
}
.cta {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.cta h1 {
  padding-top: 100px;
  font-size: 4rem;
  width: 75%;
  text-align: center;
  color: #dad3d3;
  font-weight: bolder;
}
.cta p {
  color: #461e44;
  font-size: 2.6rem;
  width: 50%;
  padding-top: 25px;
  font-weight: bold;
  line-height: 1.25;
  text-align: center;
  color: aliceblue;
}
@media only screen and (max-width:750px) {
  .cta p {
    width: 75%;
  }
}
.cta button {
  margin-top: 30px;
  margin-bottom: 30px;
  display: flex;
  margin-bottom: 10px;
  border-radius: 5px;
  background-color: #280130;
  color: aliceblue;
  font-size: 1.4rem;
  padding: 20px;
}
.about {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 60%;
  background-color: #1b1d23;
  padding: 25px;
  border-radius: 5px;
  padding-top: 35px;
}
@media only screen and (max-width:750px) {
  .about {
    width: 80%;
  }
}
.about .about-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.about h2 {
  color: aliceblue;
  font-size: 2.4rem;
  font-weight: bolder;
  margin-bottom: 30px;
  width: max-content;
  border-bottom: 2px solid aliceblue;
  padding-bottom: 10px;
}
.about #code {
  width: 90%;
  height: auto;
}
.about p {
  width: 80%;
  display: block;
  font-size: 1.2rem;
  line-height: 1.65;
  color: aliceblue;
  margin-top: 30px;
}
.projects {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 60%;
  background-color: #1b1d23;
  padding: 25px;
  padding-top: 35px;
  border-radius: 5px;
}
@media only screen and (max-width:750px) {
  .projects {
    width: 80%;
  }
}
.projects img {
  width: 90%;
}
.projects h2 {
  color: aliceblue;
  font-size: 2.4rem;
  font-weight: bolder;
  margin-top: 30px;
  margin-bottom: 30px;
  width: max-content;
  border-bottom: 2px solid aliceblue;
  padding-bottom: 10px;
  text-align: center;
}
.projects h3 {
  font-size: 1.8rem;
  color: aliceblue;
  font-weight: bold;
  margin: 20px 0px;
}
.projects p {
  color: aliceblue;
  line-height: 1.65;
  font-size: 1.2rem;
  width: 75%;
}
.project {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
}
.project-row {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 100%;
  margin: 30px 0;
}
.project-row a {
  color: white;
  font-size: 1.2rem;
  font-weight: bolder;
  text-decoration: underline dotted;
}
.project-row a:hover {
  color: #86a2d3;
}
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  font-family: 'Roboto', sans-serif;
  font-family: 'Open Sans', sans-serif;
}
body {
  background: #9D50BB;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #6E48AA, #9D50BB);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #6E48AA, #9D50BB);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.main-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
