@import './variables.less';
.nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 100px;
    background-color: @purple;
    a{
        text-decoration: none;
        color:@light;
        font-size: 1.8rem;
        
    }
}