@import './variables.less';

.privacy-container{
    width: 100%;
    justify-content: center;
    display: flex;
}

.privacy-policy{
    @media @mobile{
        width: 75%;
    }
    a{
        color: white;
    }
    text-align: center;
    padding: 1%;
    width: 65%;
    display: flex;
    flex-direction: column;
    background-color: rgb(27, 29, 35);
    color: white;
    line-height: 1.66;
    h3, h2, h1{
        margin-bottom: 20px;
        margin-top: 20px;
        font-size: 2rem;
        font-weight: bolder;
        text-align: center;
    }
}

